<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h2>Bienvenido al Dashboard</h2>
    <p>Estás logueado.</p>
</body>
<footer>
    <a href="/admin/logout">Cerrar sesión</a>
</footer>
</html>