<!DOCTYPE html>
<html>
    <head>
        <title>Login Admin</title>
    </head>
    <body>
        <h2>Login Administrador </h2>

        <% if (error) { %>
            <p style="color:red;"><%= error %></p>
        <% } %>

        <form action="/admin/login" method="POST">
            <div>
                <label>Email:</label>
                <input type="email" name="email" required>
            </div>

            <div>
                <label>Password:</label>
                <input type="password" name="password" required>
            </div>

            <button type="submit">Ingresar</button>
            <button type="button" onclick="autocompletar()">Acceso rápido</button>
        </form>
        
        <script>
        function autocompletar() {
            document.querySelector('input[name="email"]').value = "admin@mail.com";
            document.querySelector('input[name="password"]').value = "1234";
        }
        </script>
    </body>
    <br>
    <a href="/index.html">Salir</a>
</html>